@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground: #1a1a1a;
  --background: #e2e2e2;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-oswald: var(--font-oswald);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
