@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground: #0F0F0F;
  --background: #F9F9F9;
  --secondary: #EEEEEE;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-roboto);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
